<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>10.day43_Web03</display-name>
  <servlet>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>web.AddEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListEmp</servlet-name>
    <servlet-class>web.ListEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelEmp</servlet-name>
    <servlet-class>web.DelEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoadEmp</servlet-name>
    <servlet-class>web.LoadEmpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyEmp</servlet-name>
    <servlet-class>web.ModifyEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListEmp</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelEmp</servlet-name>
    <url-pattern>/del</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadEmp</servlet-name>
    <url-pattern>/load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyEmp</servlet-name>
    <url-pattern>/modify</url-pattern>
  </servlet-mapping>
</web-app>