<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	
	<!-- 开启组件扫描 -->	
	<context:component-scan base-package="com.patrick"/>
	<!-- 开启AOP配置 -->
	<aop:aspectj-autoproxy/>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:oracle:thin:@patrickawsoracledb.c9q2eh0o9e2k.us-west-2.rds.amazonaws.com:1521:ORCL"/>
		<property name="username" value="patrick"/>
		<property name="password" value="12345678"/>
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="maxActive" value="20"/>
	</bean>
	
	<!-- 在配置文件中不要随便写一个bean然后里面什么内容都没有,这样会影响Spring去加载,导致Spring容器无法使用 -->
	
</beans>